{{ define "main" }}
<section class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    
    {{ if .Pages }}
    <div class="projects">
        {{ range .Pages }}
        <div class="project-card">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <p class="blog-date">{{ .Date.Format "January 2, 2006" }}</p>
            <p>{{ .Summary }}</p>
            {{ if .Params.tags }}
            <div class="tags">
                {{ range .Params.tags }}
                <span class="tag">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
            <a href="{{ .RelPermalink }}">Read More →</a>
        </div>
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}
